:root {
    --color-input-background:#f2f2f2;
    --color-input-border: #c6c6c6; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#menu,
#menusvg {
    color: var(--texto-submenu-hover);
    fill: var(--texto-submenu-hover);
}

.main-content { padding: 140px 0; }
.cajapadre { padding: 20px 50px; }

.cajapadre .boton-section{
    display:flex;
    flex-direction:row;
    padding: 15px 0;
}

.cajapadre .boton-section .cont-btn-apartado {
    margin-left: 15px;
}

.cajapadre button {
    border-radius: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.btn-create {
    background-color: var(--btn-create-bk);
    color: var(--btn-color);
    font-weight: bold;
}
.btn-create:hover {
    background-color: var(--btn-create-bkhover);
    color: var(--btn-color);
    font-weight: bold;
}
.botones .btn-edit {
    background-color: var(--btn-edit-bk);
    color: var(--btn-color);
    font-weight: bold;
}
.botones .btn-edit:hover {
    background-color: var(--btn-edit-bkhover);
    color: var(--btn-color);
    font-weight: bold;
}
.btn-delete {
    background-color: var(--btn-del-bk);
    color: var(--btn-color);
    font-weight: bold;
}
.btn-delete:hover {
    background-color: var(--btn-del-bkhover);
    color: var(--btn-color);
    font-weight: bold;
}

.header-photo {
    width: 100%;
    height: 100px;
    white-space: nowrap;
}

.header-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.apartados-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card-apartado {
    background-color: white;
    width: calc(50% - 10px);
    height: 300px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-apartado h2 {
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #333;
}

.apartado {
    box-sizing: border-box;
    padding: 10px;
}

.header {
    display: flex;
    align-items: center;
}

.header .botones {
    margin-left: auto; /* Empuja los botones a la derecha */
    display: flex;
    gap: 5px; /* Espacio entre botones */
}

.descripcion {
    padding: 0  10px;
}

table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #ececec;
    color: #000000;
    font-weight: bold;
}

table tbody tr:hover {
    background-color: var(--background-hover);
}

table tbody td:last-child {
    color: green;
    font-weight: bold;
}

.tabla-scroll {
    max-height: 230px;  /* Establece la altura máxima */
    overflow-y: auto;
}

/* Estilo del scrollbar en navegadores basados en Webkit (Chrome, Safari, Edge) */
.tabla-scroll::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar vertical */
    height: 12px; /* Altura del scrollbar horizontal */
}

/* Estilo de la parte del scrollbar que se mueve (el "thumb") */
.tabla-scroll::-webkit-scrollbar-thumb {
    background-color: #afadad; /* Color del thumb */
    border-radius: 6px; /* Bordes redondeados del thumb */
    border: 2px solid #ddd; /* Borde alrededor del thumb */
}

/* Estilo de la parte del scrollbar que no se mueve (el track) */
.tabla-scroll::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo del track */
    border-radius: 6px; /* Bordes redondeados del track */
}

/* Opcional: Hover sobre el thumb */
.tabla-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #888; /* Cambia el color del thumb al pasar el mouse */
}

/* VENTANA POP UP */
.modal {
    display: none;
    position: fixed; /* Se posiciona sobre todo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 1000; /* Se coloca encima de otros elementos */
}

/* Contenido de la ventana modal */
.modal-content {
    position: relative;
    margin: auto; /* Centrado vertical y horizontal */
    background-color: #fff;
    padding: 20px;
    width: 80%;
    height: auto;
    border-radius: 10px;
}

/* Botón para cerrar la ventana modal */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

.titulo {
    padding: 20px;
    font-size: 30px;
    background: fixed;
    text-align: center;
}

.titulo h2 {
    font-size: 30px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label {
    display: block; /* Hacer que los labels se muestren como bloques */
    width: 250px;
    padding: 7px 7px 0 7px;
    margin-bottom: 5px; /* Espaciado entre cada label e input */
}

form input {
    border: 2px solid var(--color-input-border);
    display: block; /* Hacer que los inputs y selects se muestren como bloques */
    width: 500px;
    margin-bottom: 10px; /* Espaciado entre cada input y select */
    padding: 10px;
    border-radius: 10px;
    background: var(--color-input-background);
}

form  input[type="text"] {
    width: 350px;
}
form  label,
form  input {
    margin-top: 15px;
}
form  .btn {
    margin-top: 30px;
    justify-content: center;
    display: flex;
}
form  input {
    width: 150px;
    margin: 0 10px;
    background: var(--color-boton2-background);
    color: var(--color-boton2-texto);
    border-radius: 7px;
    font-size: 17px;
}

.btn-accept {
    background: var(--btn-accept-bk);
    color: var(--btn-color);
    cursor: pointer;
}
.btn-accept:hover {
    background: var(--btn-accept-bkhover);
}

.cont-platillos-add {
    height: 100%;
    width: 900px;
    display: flex;
    margin: 0 auto 0 auto;
    background-color: var(--background-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.cont-izquierda {
    width: 60%;
    overflow-y: auto;
    .buscador {
        margin: 10px;
    
        input[type="text"] {
            border: 1px solid white;
            width: 350px;
            height: 90%;
            background: #f2f2f2;
            padding: 10px;
            border-radius: 30px;
        }
        input[type="text"]:focus {
            border: 2px solid #c6c6c6;
            border-radius: 30px;
            outline: none;
        }
        .btn-buscar {
            border: none;
            height: 90%;
            padding: 7px 20px;
            margin: 0;
            border-radius: 7px;
            background-color: var(--color-blue);
            color: var(--color-boton-texto);
            display: none;
        }
        .btn-buscar:hover {
            background-color: var(--color-boton-hover);
            color: var(--color-boton-texto);
        }
    }

    .tabla {
        margin: 5px;
        overflow: auto;
        table {
            border: none;
            border-collapse: collapse;
            border-radius: 10px;
            margin: 0;
            text-align: center;
            width: 100%;
            overflow-y: auto;
            form {
                width: 20px;
                margin: 0;
                padding: 5px;
            }
            th {
                font-size: 13px;
                background: #dbdbe0;
                border-radius: 15px;
                padding: 5px 0 5px 0; /*arriba der abajo izq */
                text-align: center;
            }
            td {
                padding: 5px;
                border-radius: 7px;
            }
            tbody td{
                border: 1px solid rgb(238, 238, 238);
            }
            .opciones {
                border: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
            .opciones form {
                margin: 0;
                padding: 0;
            }
            .opciones input[type="text"] {
                margin: 0 5px;
            }
            tr:hover { background: #f2f2f2; }
            td:hover { background: #e5e5e5; }
            .desborde {
                overflow: hidden; /* Ocultar el contenido que sobresale */
                text-overflow: ellipsis; /* Mostrar puntos suspensivos (...) cuando el contenido se recorta */
                white-space: nowrap; /* Evitar el desbordamiento de texto a una nueva línea */
                max-width: 200px; /* Establecer un ancho máximo para la celda */
            }
            .lb-ctd {
                background: #f7f7f9;
                border: none;
                width: 35px;
                height: 35px;
                text-align: center;
            }
            .btn-op {
                display: inline-block;
                border: none;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                text-align: center;
                color: white;
            }
            .btn-op.plus {background-color: #4bbf73;}
            .btn-op.minus {background: #d9534f;}
            .btn-op.plus:hover {background-color: #40a262;}
            .btn-op.minus:hover {background: #b84743;}
        }
    }
}

.cont-derecha {
    border-left: 3px solid #dbdbe0;
    display: flex;
    width: 40%;
    padding: 5px;
    margin-right: 10px;
    flex-direction: column;
    transition: width .5s ease;
    overflow-y: auto;

    .contenedor-platillos {
        width: 100%;
        flex: 7;
        margin: 0;
        overflow: auto;
        transition: width 0.5s ease;

        .tb-venta {
            width: 100%;
            border: none;
            border-collapse: collapse;
            text-align: center;
            overflow-y: auto;
            th {
                border-left: 1px solid #808080;
                border-right: 1px solid #808080;
                background: none;
            }
            tr:hover { background: #f2f2f2; }

            .desborde {
                padding-left: 10px;
                overflow: hidden; /* Ocultar el contenido que sobresale */
                text-overflow: ellipsis; /* Mostrar puntos suspensivos (...) cuando el contenido se recorta */
                white-space: nowrap; /* Evitar el desbordamiento de texto a una nueva línea */
                max-width: 200px; /* Establecer un ancho máximo para la celda */
                text-align: left;
            }
        }
    }
}

